[submodule "backend"]
	path = backend
	url = https://github.com/sistemica/n8n-manager-backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/sistemica/n8n-manager-frontend
[submodule "traefik-path-param-headers"]
	path = traefik-path-param-headers
	url = https://github.com/sistemica/traefik-path-param-headers
